<div class="form-group msg-form">
    <%= form_with(model: [@single_room, @messages], remote: true, class: "d-flex") do |f| %>
        <%= f.text_field :content, idL 'chat-text', class: "form-control msg-content", autocomplete: 'off' %>
        <%= f.submit data: {disable_with: false }, class: "btn btn-primary" %>
        <% end %>
</div>